@import "@repo/ui/main";

@import "@repo/tailwind-config/sources";

@import "./commerce.css";

@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";
@import "@fontsource-variable/noto-sans-arabic";

/* Scan this app's TS/TSX for class names */
@source "./**/*.{ts,tsx}";

@layer base {
  :root {
    --font-geist-sans: "Geist Variable";
    --font-geist-mono: "Geist Mono Variable";
  }
  html[dir="rtl"] {
    --font-geist-sans: "Noto Sans Arabic Variable", "Geist Variable", sans-serif;
  }
}
